* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    /* margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; */
    background-color: #020326;
    overflow-x: hidden;
}

p {
    font-size: 1rem;
    color:#fff;
    line-height: 150%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color:#EE38B2;
}

img {
    border-radius: 15px;
}

.clear {
    clear: both;
}

.navbar {
    background: #020326;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/*TODO: make logo vertically centered */
.navbar__img--container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#navbar__logo {
    cursor: pointer;
    min-width: 112px;
    height: 80%;
    width: 70%;
}

.fa-gem {
    margin-right: 0.5rem
}

.navbar__menu {
   display: flex;
   align-items: center;
   list-style: none;
   text-align: center; 
}

.navbar__item {
    height: 80px;
    font-size: 0.85rem;
    font-weight: 500;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-left: 3rem;
    height: 100%;
}

.navbar__links:hover {
    color: #EE38B2;
    transition: all 0.3s ease; 
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 75vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #020326;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 0.5rem;
    }

    .navbar__toggle {
        margin-top: 0.3rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%; 
        height: 80px;
        font-size: 1rem;
        font-weight: 500;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 480px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin-right: 3px;
    }

    #navbar__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 50%;
        width: 50%;
        padding-left: 0.5rem;
    }

    #mobile-menu {
        position: absolute;
        padding-right: 0.5rem;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
}

/* Hero Section CSS */
.main {
    background-color: #020326;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 65vh;
    background-color: #020326;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h2 {
    color: #fff;
    font-size: 1.3rem;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-color: #EE38B2;
    padding: 14px 30px;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #89005B;
    transition: all 0.35s;
    border-radius: 15px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__logo {
    height: 80%;
    width: 80%;
    min-width: 400px;
    margin-bottom: 1.5rem;
}

#main__img {
    margin: 1rem;
    height: 90%;
    width: 90%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .main__container {
        /* display: grid; */
        /* grid-template-columns: none; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .main__content {
        text-align: center;
        height: auto;
        margin: 1rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin-top: 1rem;
    }

    #main__img {
        height: 80%;
        width: 90%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .main__container {
        padding: 0 30px;
    }

    .main__content {
        margin-bottom: 1rem;
    }

    #main__logo {
        width: 100%;
        margin-bottom: 1.5rem;
        min-width: 0px;
    }

    .main__btn {
        padding: 8px 24px;
        margin-top: 1rem;
    }

    .main__btn a {
        position: relative;
        z-index: 2;
        color: #fff;
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 700;
    }

    .main__content h2 {
        color: #fff;
        font-size: 0.85rem;
    }
}

/* Info Section CSS */
.info {
    background-color: #020326;
    padding-top: 5rem;

}

.info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    background-color: #020326;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.info__txt--container {
    padding: 0 0.5rem;
}

.info__txt--container h1{
    margin-bottom: 1.5rem;
}

.info__img--container {
    text-align: center;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .info {
        height: auto;
    }

    .info__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 0 6rem;
        gap: 3rem;

    }

    .info__container div:nth-child(1) { order: 2; }
    .info__container div:nth-child(2) { order: 1; }
    .info__container div:nth-child(3) { order: 3; }
    .info__container div:nth-child(4) { order: 4; }

    #info__img {
        height: 80%;
        width: 90%;
        margin: 0;
    }
}

/* Footer Section CSS */

.footer {
    margin-top: 7rem;
    background-color: #060419;
}
.footer__container {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.footer__logo {
    width: fit-content;
}

#footer__img {
    text-align: center;
    width: 70%;
}